
body {
    background-color: #F7F7F7;
}
.sidebar {
    position: fixed;
    height: 100vh;
}
.bg {
    background-image: url(../img/forest.jpg);
    padding:0;
}

.background-white {
    background-color: white;
}
.nav-link{
    font-size: 15px;
    font-weight: 700;
    color: #000000!important;
}

.margin-x {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.padding-left {
    padding-left:80px!important;
}

.padding-right {
    padding-right: 80px!important;
}

.fa-chevron-down {
    font-size: 9px;
    vertical-align: 2px;
}
.fa-bars {
    font-size: 20px;
    color:#000000;
    cursor: pointer;
}

.fa-search {
    font-size: 17px;
    color:#000000;
    cursor: pointer;
}

.font-italic {
    color: #919191;
}

.text-1 {
    font-size: 22px;
}

.undertext-1 {
    font-size: 15px;
    color: #919191;
    padding-top: 0!important;
}

.margin-bot-0 {
    margin-bottom: 0!important;
}

.menu-1 {
    padding:0;
}

.menu-1 a{
    padding-left:0 !important;
}

.menu-1 ul {
    display: flex;
    justify-content: space-between ;
    width: 100%;
}

.navbar-1 {
    padding-right:0 !important;
}

.text-2{
    font-size: 22px;
    color: #919191;
}
.text-2 img {
    width: 40%;
}

.logo-1 {
    width: 60%;
    margin-top:90px!important;
}

.logo-text {
    font-size: 1.8rem;
    color: white;
}

.text-cr {
    cursor: pointer;
}

.img-papich {
    max-width: 100%;
    height: auto;
}

.img-row-1 {
    height: 200px!important;
}

.img-papich-1 {
    height: 447px;
    max-width: 100%;
    padding-bottom: 3px;
}

.papich-1 {
    padding-right: 3px;
}

.papich-2 {
    padding-left: 3px;
}

.img-papich-2 {
    height: 401px;
    max-width: 100%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.img-papich-3 {
    height: 410px;
    max-width: 100%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.text-cr {
    font-size: 13px;
    font-weight: 700;
}

.read-more {
    font-size: 18px;
    font-weight: 700;
    background-color: #C4BFB9;
    color: white;
}

.background-bottom {
    background-color: #E8E8E8;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
}

.background-bottom span {
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
}

.img-po {
    width: 340px;
    height: 371px;
}

.padding-x-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.padding-port {
    padding-left: 0px!important;
}

.port-text {
    font-size: 15px;
    color: #7F7C74;
    background: white;
    padding-bottom: 50px;
    width: 340px;
    margin-left: 5px;
}

.port-text span {
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.port-text-1 {
    margin-left: 10px;
    margin-right: 2px;
    padding-left: 45px;
    padding-top: 20px;
}

.port-text-2 {
    margin-left: 18px;
    margin-right: 18px;
    padding-left: 45px;
    padding-top: 20px;
}

.port-text-3 {
    margin-left: 2px;
    margin-right: 11px;
    padding-left: 45px;
    padding-top: 20px;    
}

.port-pad {
    padding-bottom: 30px;
}

.bottom-1 {
    background-color: white;
}

.bottom-1 i {
    padding-top: 45px;
    padding-left: 20px;
    padding-bottom: 100px;
    font-size: 25px;
}

.bottom-1 p {
    padding-top: 40px;
    color: #929A99;
    padding-bottom: 30px;
}
.bottom-1 span {
    font-weight: 700;
    color: #000000;
}

.bot-pap {
    width: 50px;
    height: 50px;
    margin-top: 45px;
}

.background-footer {
    background-color: #1E1E1E;
    
}
.footer-1 {
    padding-top: 50px!important;
    font-weight: 500;
}

.footer {
    border-color: #616161!important;
    color: white;
    padding-top: 30px;
    margin-left: 60px;
    font-size: 20px;
    padding-bottom: 40px;
}

.img-footer {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 10px;
}

.footer span {
    display: block;
    padding-top: 10px;
    font-size: 15px;
    color: #C7C7C7;
}

.footer-2 {
    color: white;
    padding-left: 120px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

.footer-list {
    display: block;
    padding-left: 120px;
    list-style: none;
}

.footer-list li {
    border-color: #616161!important;
    font-size: 15px;
    color: white;
    padding: 5px 0 5px 0;
}

.footer-list span {
    color: #C7C7C7;
}

.footer-3 {
    color: white;
    padding-left: 120px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
}